@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

.account {
  font-family: var(--ballubhai-font);
  color: var(--account-text-color, white);
}
.account-banner, .account-info-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.account-banner {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  padding-top: 10%;
  background-color: var(--account-theme-color, black);
}
.account-profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 5%;
  margin-bottom: 2%;
}
.account-profile-name {
  font-size: 2em;
  margin-left: 5%;
  text-align: right;
  margin-bottom: 2%;
  color: var(--account-text-color, #fff);
}
.account-info-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid var(--account-theme-color, black);
}
.account-title {
  font-size: 2em;
  font-weight: bold;
}
.account-info-header, .account-info-display {
  border-bottom: 1px solid var(--account-theme-color, black);
}
.account-info-header-field, .account-info-display-field {
  width: 40%;
}
.account-info-heading {
  font-size: 1.5em;
}
.account input[type=text] {
  width: 100%;
  padding: 10px 10px;
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--account-theme-color, black);
  box-sizing: border-box;
}
.account-info-field-container {
  display: grid;
  grid-template-columns: 40% 40%;
  row-gap: 15px;
  justify-content: space-between;
}
.account-info-action {
  display: flex;
  justify-content: flex-end;
  column-gap: 15px;
}
.account button {
  border-radius: 0;
  padding: 10px 10px;
  cursor: pointer;
}
.account button[type=reset] {
  color: var(--account-theme-color, black);
  background-color: transparent;
  border: 1px solid var(--account-theme-color, black);
  outline: 0;
}
.account button[type=submit] {
  border: none;
  background-color: var(--account-theme-color, black);
  color: var(--bg-color);
}

@media only screen and (max-width: 768px) {
  .account-banner, .account-info-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .account-profile-image {
    height: 70px;
    width: 70px;
  }
  .account-info-display-field {
    width: 100%;
  }
  .account-info-field-container {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .account-banner, .account-info-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .account-profile-image {
    height: 50px;
    width: 50px;
  }
}

/*# sourceMappingURL=account.css.map */
