@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

.auth {
  font-family: var(--ballubhai-font);
  color: var(--account-text-color, white);
  background-color: var(--bg-color);
}
.auth-options-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}
.auth-title {
  font-size: 3em;
  font-weight: bold;
}
.auth-new-user {
  font-size: 1.5em;
}
.auth-new-user-link {
  text-decoration: none;
}
.auth-divider {
  display: flex;
  align-items: center;
  text-align: center;
}
.auth-divider::before, .auth-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--account-text-color);
}
.auth-divider-text {
  padding: 0.25em;
}
.auth button {
  border-radius: 0;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.auth button[class=icon] {
  display: inline;
  width: min-content;
  background: transparent;
  border: none;
  color: var(--account-theme-color, black);
}
.auth #close-btn {
  position: absolute;
  top: 0%;
  right: 0%;
  margin-right: 10px;
}
.auth-filled-button {
  border: none;
  background-color: var(--account-theme-color, black);
  color: var(--bg-color, white);
}
.auth-outlined-button {
  color: var(--account-theme-color, black);
  background-color: transparent;
  border: 1px solid var(--account-theme-color, black);
  outline: 0;
}
.auth input {
  width: 100%;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 0;
  border: 1px solid var(--account-theme-color, black);
  box-sizing: border-box;
}

/*# sourceMappingURL=auth.css.map */
