@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: var(--ballubhai-font);
  color: var(--text-color);
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.brand span {
  color: var(--text-color);
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
}
.wrapper > * {
  padding: 1em;
}

.company-info {
  background: var(--bg-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.company-info h3 {
  text-align: center;
  margin: 0 0 1rem 0;
}
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: var(--bg-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: var(--text-color);
}
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.contact form label {
  display: block;
}
.contact form p {
  margin: 0;
}
.contact form .full {
  grid-column: 1/3;
}
.contact form button {
  width: 100%;
  padding: 1em;
  border: solid 1px #627edc;
  border-radius: 4px;
  background: #627edc;
  border: 0;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
.contact form button:hover {
  background: #3952a3;
  color: var(--text-color);
  outline: 0;
  transition: background-color 2s ease-out;
}
.contact form button:focus {
  background: #3952a3;
  color: var(--text-color);
  outline: 0;
  transition: background-color 2s ease-out;
}
.contact form input {
  width: 100%;
  padding: 1em;
  border: solid 1px #627edc;
  border-radius: 4px;
}
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #627edc;
  border-radius: 4px;
  resize: none;
}

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }
  .company-info h3 {
    text-align: left;
  }
  .company-info ul {
    text-align: left;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .brand {
    text-align: left;
  }
}

/*# sourceMappingURL=contact.css.map */
