@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

body {
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

ul {
  list-style-type: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-family: var(--ballubhai-font);
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  border-radius: 50%;
  line-height: 40px;
  padding-top: 9px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*# sourceMappingURL=footer.css.map */
