.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--navbar-hover);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body {
  background-color: var(--bg-color);
}

.navbar {
  width: 100vw;
  height: 70px;
  background-color: var(--navbar-color);
}
.navbar-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  height: 100%;
  padding-left: 40px;
}
.navbar-ul-li {
  font-family: var(--primary-font);
  margin-right: 50px;
  padding: 15px 20px;
  font-size: 17px;
  font-weight: 400;
}
.navbar-ul-li-links {
  text-decoration: none;
  transition: all 2s;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
  color: var(--text-color);
}
.navbar-ul-li-links:hover {
  color: var(--navbar-hover);
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .navbar {
    width: 1200px;
  }
}

/*# sourceMappingURL=header.css.map */
