@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

@keyframes change__image {
  0%, 100% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/img1.jpg") center no-repeat;
    background-size: cover;
  }
  25% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/img2.jpg") center no-repeat;
    background-size: cover;
  }
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/img3.jpg") center no-repeat;
    background-size: cover;
  }
  75% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("/images/img4.jpg") center no-repeat;
    background-size: cover;
  }
}
.background__img {
  width: 100%;
  height: 92vh;
  animation: 10s linear 0.1s change__image;
  animation-iteration-count: infinite;
  position: relative;
}
.background__img .brand {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  align-items: center;
}
.background__img .logo {
  color: var(--logo-color);
  font-size: 70px;
  border: 3px solid var(--logo-color);
  border-radius: 50%;
  width: 110px;
  margin-right: 30px;
  height: 110px;
  display: flex;
  transition: all 2s;
  transition-duration: 2s;
  transition-timing-function: ease-out;
  align-items: center;
  justify-content: center;
}
.background__img .logo:hover {
  transform: rotate(360deg);
}
.background__img .main-name {
  font-family: var(--ballubhai-font);
  font-size: 40px;
  color: #e3f5fc;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.background__img .sub-name {
  font-family: var(--ballubhai-font);
  font-size: 20px;
  color: #e3f5fc;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.background__img .main-button {
  width: 180px;
  height: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  color: #e3f5fc;
  background-color: transparent;
  font-family: var(--ballubhai-font);
  transition: all 2s;
  border-radius: 10px;
  border: 1px solid #fff;
}
.background__img .main-button:hover {
  background-color: #131212;
  color: var(--primary-color);
  transform: rotate(360deg);
}
.background__img .main-heading {
  font-family: var(--ballubhai-font);
  color: var(--logo-color);
  font-size: 70px;
  transition: all 3s;
  transition-timing-function: ease-in-out;
  font-weight: 300;
  margin-bottom: 40px;
}
.background__img .sub-heading {
  font-family: var(--primary-font);
  color: #e3f5fc;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 80px;
}
.background__img-banner {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.container__item {
  height: 700px;
  width: 1200px;
  align-items: center;
  display: block;
  justify-content: space-between;
  border-radius: 15px;
  margin: 30px auto;
  background-color: var(--container-bg-color);
}
.container__item .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.order-button {
  width: 180px;
  height: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  font-family: var(--ballubhai-font);
  transition: all 4s;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 90px;
  margin-top: 30px;
  border: 1px solid var(--border-color);
}

.order-button:hover {
  background-color: tomato;
}

h1,
h3 {
  color: var(--text-color);
  font-family: var(--ballubhai-font);
  margin: 30px;
  display: block;
  text-align: center;
}

.img {
  width: 400px;
  height: 527px;
}

pre {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.img_fruit {
  width: 300px;
  height: 300px;
  margin: 40px;
  margin-top: 40px;
  margin-left: 40px;
}
.img_fruit img {
  border-radius: 9px;
  width: 300px;
  height: 300px;
}

.subheading {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) and (min-width: 620px) {
  .background__img {
    width: 1200px;
  }
}
@media only screen and (max-width: 615px) {
  .background__img {
    width: 600px;
    height: 300px;
  }
}

/*# sourceMappingURL=index.css.map */
