@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root[data-theme=theme-light] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  --border-color: #000000;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme=theme-dark] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;
  --border-color: #fff;
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

.shop {
  background-color: var(--bg-color);
}
.shop .shop-header {
  text-align: center;
  margin: 20px;
  padding: 15px;
  font-size: 150%;
  color: var(--text-color);
}

.shop-body {
  display: flex;
  margin: 20px 80px;
  background-color: var(--bg-color);
  justify-content: left;
}
.shop-body .shop-body-aside {
  border-right: 1px solid var(--text-color);
  width: 250px;
  padding: 20px;
  text-indent: 5px;
  font-size: 130%;
  color: var(--text-color);
}
.shop-body .shop-body-aside .aside-filter {
  list-style-type: none;
  padding: 20px 0px 0px 10px;
  font-size: 100%;
  cursor: pointer;
}
.shop-body .shop-body-aside .list:hover {
  font-size: 120%;
  font-weight: bold;
}
.shop-body .all-product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.shop-body .all-product .product {
  border-radius: 10%;
  padding: 30px;
  margin: 20px 20px;
  width: 250px;
  text-align: center;
  text-indent: 10px;
  background-color: var(--bg-image-color);
}
.shop-body .all-product .product .product_image {
  padding: 10px;
  height: 156px;
}
.shop-body .all-product .product .price {
  margin-left: 10px;
  font-weight: bold;
}

.aside-span {
  font-size: 120%;
  font-family: var(--primary-font);
}

.product_description {
  padding: 20px 0px;
  line-height: 200%;
  font-size: 130%;
}

.product_counter {
  margin: 10px 0px;
}

/*# sourceMappingURL=product.css.map */
