* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Josefin+Sans:300,400,600,700|Nunito:300,400,600,700");
:root[data-theme="theme-light"] {
  --primary-color: #000000;
  --navbar-hover: #06bcee;
  --dark: #282c34;
  --navbar-color: #fff;
  --deepdark: #20232a;
  --text-color: #1a1a1a;
  --bg-color: #fafafa;
  --component-bg-color: #ffffff;
  --logo-color: #d3ab55;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #282c34;
  --footer-text-color: #d29191;
  --container-bg-color: #f1f3f6;
  //  #f1f3f6
  --border-color: #000000;

  // Fonts
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}

:root[data-theme="theme-dark"] {
  --primary-color: #49afd9;
  --text-color: #e3f5fc;
  --navbar-hover: #06bcee;
  --navbar-color: #282c34;
  --bg-color: #18191a;
  --component-bg-color: #22343c;
  --nav-text-color: #e3f5fc;
  --account-theme-color: #06bcee;
  --account-text-color: #e3f5fc;
  --logo-color: #0fccc3;
  --footer-text-color: #e3f5fc;
  --bg-image-color: #e3f5fc;
  --cart-logo-image: #e3f5fc;
  --container-bg-color: #282c34;

  --border-color: #fff;
  // Fonts
  --primary-font: "Optimistic Display", system-ui, -apple-system, sans-serif;
  --monospace-font: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --ballubhai-font: "Baloo Bhai 2", cursive;
}
