@import "./base";

#heading {
  color: var(--text-color);
  font-family: var(--ballubhai-font);
  text-align: center;
  font-size: large;
}

#aboutusimg {
  text-align: center;
}

#aboutuscontent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ballubhai-font);
  color: var(--text-color);
  text-align: justify;
  font-size: larger;
}

#aboutuscontent p {
  width: 50%;
}

#team {
  text-align: center;
  color: var(--text-color);
  font-family: var(--ballubhai-font);
  font-size: x-large;
}
