@use "./base";

.account {
  font-family: var(--ballubhai-font);
  color: var(--account-text-color, white);

  &-banner,
  &-info-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  &-banner {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    padding-top: 10%;
    background-color: var(--account-theme-color, black);
  }

  &-profile-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 5%;
    margin-bottom: 2%;
  }

  &-profile-name {
    font-size: 2em;
    margin-left: 5%;
    text-align: right;
    margin-bottom: 2%;
    color: var(--account-text-color, #fff);
  }

  &-info-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--account-theme-color, black);
  }

  &-title {
    font-size: 2em;
    font-weight: bold;
  }

  &-info-header,
  &-info-display {
    border-bottom: 1px solid var(--account-theme-color, black);

    &-field {
      width: 40%;
    }
  }

  &-info-heading {
    font-size: 1.5em;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px 10px;
    background: transparent;
    border-radius: 0;
    border: 1px solid var(--account-theme-color, black);
    box-sizing: border-box;
  }

  &-info-field {
    &-container {
      display: grid;
      grid-template-columns: 40% 40%;
      row-gap: 15px;
      justify-content: space-between;
    }
  }

  &-info-action {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
  }

  button {
    border-radius: 0;
    padding: 10px 10px;
    cursor: pointer;
  }

  button[type="reset"] {
    color: var(--account-theme-color, black);
    background-color: transparent;
    border: 1px solid var(--account-theme-color, black);
    outline: 0;
  }

  button[type="submit"] {
    border: none;
    background-color: var(--account-theme-color, black);
    color: var(--bg-color);
  }
}

@media only screen and (max-width: 768px) {
  .account {
    &-banner,
    &-info-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    &-profile-image {
      height: 70px;
      width: 70px;
    }

    &-info-display {
      &-field {
        width: 100%;
      }
    }

    &-info-field {
      &-container {
        grid-template-columns: 100%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .account {
    &-banner,
    &-info-container {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }

    &-profile-image {
      height: 50px;
      width: 50px;
    }
  }
}
