@use "./base";

.auth {
  font-family: var(--ballubhai-font);
  color: var(--account-text-color, white);
  background-color: var(--bg-color);

  &-options-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
  }

  &-title {
    font-size: 3em;
    font-weight: bold;
  }

  &-new-user {
    font-size: 1.5em;

    &-link {
      text-decoration: none;
    }
  }

  &-divider {
    display: flex;
    align-items: center;
    text-align: center;

    &::before,
    &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid var(--account-text-color);
    }

    &-text {
      padding: 0.25em;
    }
  }

  button {
    border-radius: 0;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  button[class=icon] {
    display: inline;
    width: min-content;
    background: transparent;
    border: none;
    color: var(--account-theme-color, black);
  }

  #close-btn {
    position: absolute;
    top: 0%;
    right: 0%;
    margin-right: 10px;
  }

  &-filled-button {
    border: none;
    background-color: var(--account-theme-color, black);
    color: var(--bg-color, white);
  }

  &-outlined-button {
    color: var(--account-theme-color, black);
    background-color: transparent;
    border: 1px solid var(--account-theme-color, black);
    outline: 0;
  }

  input {
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: 0;
    border: 1px solid var(--account-theme-color, black);
    box-sizing: border-box;
  }
}
