@import "./base";

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-family: var(--ballubhai-font);
  color: var(--text-color);
}
ul {
  list-style: none;
  padding: 0;
}
.brand {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  span {
    color: var(--text-color);
  }
}
.wrapper {
  box-shadow: 0 0 20px 0 rgba(57, 82, 163, 0.7);
  > * {
    padding: 1em;
  }
}
.company-info {
  background: var(--bg-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  h3 {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  ul {
    text-align: center;
    margin: 0 0 1rem 0;
  }
}
.contact {
  background: var(--bg-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: var(--text-color);
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    label {
      display: block;
    }
    p {
      margin: 0;
    }
    .full {
      grid-column: 1 / 3;
    }
    button {
      width: 100%;
      padding: 1em;
      border: solid 1px #627edc;
      border-radius: 4px;
      background: #627edc;
      border: 0;
      color: var(--text-color);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        background: #3952a3;
        color: var(--text-color);
        outline: 0;
        transition: background-color 2s ease-out;
      }
      &:focus {
        background: #3952a3;
        color: var(--text-color);
        outline: 0;
        transition: background-color 2s ease-out;
      }
    }
    input {
      width: 100%;
      padding: 1em;
      border: solid 1px #627edc;
      border-radius: 4px;
    }
    textarea {
      width: 100%;
      padding: 1em;
      border: solid 1px #627edc;
      border-radius: 4px;
      resize: none;
    }
  }
}
@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    > * {
      padding: 2em;
    }
  }
  .company-info {
    border-radius: 4px 0 0 4px;
    h3 {
      text-align: left;
    }
    ul {
      text-align: left;
    }
  }
  .contact {
    border-radius: 0 4px 4px 0;
  }
  .brand {
    text-align: left;
  }
}
