@use "./base";

@keyframes change__image {
  0%,
  100% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url("/images/img1.jpg") center no-repeat;
    background-size: cover;
  }
  25% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url("/images/img2.jpg") center no-repeat;
    background-size: cover;
  }
  50% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url("/images/img3.jpg") center no-repeat;
    background-size: cover;
  }
  75% {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url("/images/img4.jpg") center no-repeat;
    background-size: cover;
  }
}
.background__img {
  width: 100%;
  height: 92vh;
  animation: 10s linear 0.1s change__image;
  animation-iteration-count: infinite;
  position: relative;

  .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    align-items: center;
  }

  .logo {
    color: var(--logo-color);
    font-size: 70px;
    border: 3px solid var(--logo-color);
    border-radius: 50%;
    width: 110px;
    margin-right: 30px;
    height: 110px;
    display: flex;
    transition: all 2s;
    transition-duration: 2s;
    transition-timing-function: ease-out;
    align-items: center;
    justify-content: center;
  }
  .logo:hover {
    transform: rotate(360deg);
  }
  .main-name {
    font-family: var(--ballubhai-font);
    font-size: 40px;
    color: #e3f5fc;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .sub-name {
    font-family: var(--ballubhai-font);
    font-size: 20px;
    color: #e3f5fc;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .main-button {
    width: 180px;
    height: 45px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    color: #e3f5fc;
    background-color: transparent;
    font-family: var(--ballubhai-font);
    transition: all 2s;
    border-radius: 10px;
    border: 1px solid #fff;
    &:hover {
      background-color: rgb(19, 18, 18);
      color: var(--primary-color);
      transform: rotate(360deg);
    }
  }

  .main-heading {
    font-family: var(--ballubhai-font);
    color: var(--logo-color);
    font-size: 70px;
    transition: all 3s;
    transition-timing-function: ease-in-out;
    font-weight: 300;
    margin-bottom: 40px;
  }

  .sub-heading {
    font-family: var(--primary-font);
    color: #e3f5fc;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 80px;
  }

  &-banner {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }
}

.container__item {
  height: 700px;
  // border: 1px solid black;
  width: 1200px;
  align-items: center;
  display: block;
  justify-content: space-between;
  border-radius: 15px;
  margin: 30px auto;
  background-color: var(--container-bg-color);
  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.order-button {
  width: 180px;
  height: 45px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: transparent;
  font-family: var(--ballubhai-font);
  transition: all 4s;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 90px;
  margin-top: 30px;
  border: 1px solid var(--border-color);
}
.order-button:hover {
  background-color: tomato;
}
h1,
h3 {
  color: var(--text-color);
  font-family: var(--ballubhai-font);
  margin: 30px;
  display: block;
  text-align: center;
}

.img {
  width: 400px;
  height: 527px;
}
pre {
  font-family: var(--primary-font);
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  // margin-top: 5px;
}

.img_fruit {
  width: 300px;
  height: 300px;
  margin: 40px;
  margin-top: 40px;
  margin-left: 40px;

  img {
    border-radius: 9px;
    width: 300px;
    height: 300px;
  }
}

.subheading {
  font-size: 30px;
}

@media only screen and (max-width: 1200px) and (min-width: 620px) {
  .background__img {
    width: 1200px;
  }
}

@media only screen and (max-width: 615px) {
  .background__img {
    width: 600px;
    height: 300px;
  }
}
