@import "./base";

.shop {
  background-color: var(--bg-color);

  .shop-header {
    text-align: center;
    margin: 20px;
    padding: 15px;
    font-size: 150%;
    color: var(--text-color);
  }
}

.shop-body {
  display: flex;
  margin: 20px 80px;
  background-color: var(--bg-color);
  justify-content: left;

  .shop-body-aside {
    border-right: 1px solid var(--text-color);
    width: 250px;
    padding: 20px;
    text-indent: 5px;
    font-size: 130%;
    color: var(--text-color);
    .aside-filter {
      list-style-type: none;
      padding: 20px 0px 0px 10px;
      font-size: 100%;
      cursor: pointer;
    }
    .list:hover {
      font-size: 120%;
      font-weight: bold;
    }
  }

  .all-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .product {
      // border: 1px dotted var(--text-color);
      border-radius: 10%;
      padding: 30px;
      margin: 20px 20px;
      width: 250px;
      text-align: center;
      text-indent: 10px;
      background-color: var(--bg-image-color);

      .product_image {
        padding: 10px;
        height: 156px;
      }
      .price {
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }
}

.aside-span {
  font-size: 120%;
  font-family: var(--primary-font);
}

.product_description {
  padding: 20px 0px;
  line-height: 200%;
  font-size: 130%;
}
.product_counter {
  margin: 10px 0px;
}
